:root {
  --main-color: #f2f2f2;
  --secondary-color: #393e46;
  --accent-color: #f96d00;
  --backround-color: #222831;
  --main-font: "League Spartan", sans-serif;
  --accent-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--backround-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1 {
  font-size: 5rem;
}

h3 {
  color: var(--accent-color);
}
p {
  font-family: var(--accent-font);
  font-style: italic;
  color: var(--main-color);
}

header {
  margin-top: 15rem;
  margin-left: 3rem;
}
