:root {
  --main-color: #f3cba5;
  --secondary-color: #975a5e;
  --accent-color: #453953;
  --backround-color: #25161b;
  --main-font: "League Spartan", sans-serif;
  --accent-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--backround-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1 {
  font-size: 5rem;
}
p {
  font-family: var(--accent-font);
  font-style: italic;
  color: var(--main-color);
}

header {
  margin-top: 15rem;
  margin-left: 3rem;
}
