:root {
  --main-color: #f2f2f2;
  --secondary-color: #393e46;
  --accent-color: #f96d00;
  --backround-color: #222831;
  --main-font: "League Spartan", sans-serif;
  --accent-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--backround-color);
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1 {
  font-size: 5rem;
}

h3 {
  color: var(--accent-color);
  margin-bottom: 0px;
}
p {
  font-family: var(--accent-font);
  font-style: italic;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.name {
  margin-top: 10rem;
}

.coding_photo,
.person-photo {
  margin-top: 9rem;
}

header {
  margin-bottom: 2.5rem;
}

.button {
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 0.5rem;
}

.button:hover {
  text-decoration: none;
  color: var(--main-color);
}

.main-headline {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.projects-section {
  margin-top: 1.5rem;
}

main h2 {
  text-align: center;
}

.section-paragraphs {
  text-align: center;
}

main .button {
  display: block;
  text-align: center;
  margin: 0 180px;
}

.portfolio-section {
  background-color: var(--secondary-color);
  padding: 1rem;
}

main .about-link {
  display: block;
  width: 150px;
  margin: auto;
}

hr {
  background-color: var(--main-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}

@media (max-width: 576px) {
  main .button {
    margin: 40px;
  }

  .person-photo {
    display: none;
  }
}
